.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2rem;
    border: 0.1rem solid rgba(86, 185, 235, 0.25);
    background-color: white ;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5) ;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb ;
    color: white;
    max-width: 5.7rem;
}

.choice-text {
    padding: 1.5rem;
}

.correct {
    background-color: #7ec78f;
}

.incorrect {
    background-color: #e66773;
}

#question {
    font-size: 3rem;
}

#hud {
    display: flex;
    justify-content: space-between;
}

#hud-prefix {
    text-align: center;
    font-size: 2rem;
}

#hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 2.5rem;
}

#progressBarFull {
    height: 3.4rem;
    width: 0%;
    background-color: #56a5eb;
}

#progressText {
    font-size: 2rem;
}

/* Loader */
#loader {
    border:1.6rem solid white ;
    border-top: 1.6rem solid #56a5eb;
    border-radius: 60%;
    height: 14rem;
    width: 14rem;
    animation: kf 1.5s linear infinite;
}

@keyframes kf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}